
h1{
    font-family: 'Times New Roman', Times, serif;
}


body {
	background: honeydew;
	font-family: arial;
	font-size: 16px;
	color: #333;
}

#canvas {
	border: 1px solid;
	width: 300px;
}

input {
	display: block;
	margin-top: 10px;
}

input:not([type="file"]) {
	background: rgb(202, 226, 164);
	border: 0;
	padding: 8px 20px;
	cursor: pointer;
}

input:not([type="file"]):hover {
	background: #C79292;
}

.filters input {
	display: inline-block;
}

.nomarginbottom {
	margin-bottom: 0;
}